* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

h3 {
	color: #FF0000
}

#form {

	width: 1000px;
	border-radius: 4;
	border-color: #FF0000;
	background-color: aquamarine;
	margin: 50px auto;

}